@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --header-height: 3rem;
  --first-color: #755bea;
  --first-color-alt: #8B008B;
  --first-color-send: #9400D3;
  --title-color: #180042;
  --text-color: #5B5757;
  --text-color-light: #8F8A8A;
  --body-color: #ebebff;
  --container-color: #e7d9ff;
  --body-font: 'Noto Sans', sans-serif;
  --biggest-font-size: 1.8rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .95rem;
  --small-font-size: .81rem;
  --font-semi-bold: 600;
  --font-bold: 700;
  --shadow-color: transparent;

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
}


@media screen and (min-width: 968px){
  :root{
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1em;
    --small-font-size: .8rem;
  }
}

*,::before,::after{
  box-sizing: border-box;
}

.change-theme{
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  font-size: 2rem;
  cursor: pointer;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

body.dark-theme{
  --title-color: #f3f1f1;
  --text-color: #d1c7c9;
  --body-color: #050026;
  --container-color: #180042;
  --shadow-color: #755bea;
}
h1,h2,h3,ul,p{
  margin: 0;
}

h1,h2,h3{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}
.section{
  padding: 4rem 0 2rem;
}

.information__button{
  margin-left: 3rem;
}

.information__data h3{
  text-align: initial;
  margin-left: 3rem;
}

.section-title, .section-title-center{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}

.events-title{
  font-size: var(--biggest-font-size);
  text-shadow: 0 0 5px var(--shadow-color),
  0 0 10px var(--shadow-color),
  0 0 20px var(--shadow-color),
  0 0 40px var(--shadow-color);
}

.main{
  overflow: hidden;
}

.bd-container{
  width: calc(100%-3rem);
  margin-left: var(--mb-4);
  margin-right: var(--mb-4);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--container-color);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){

  .down-arrow a i{
    display: none;
  }
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav__item{
  margin-bottom: var(--mb-3);
}

.nav__link, .nav__logo, .nav__toggle{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__logo:hover{
  color: var(--first-color);
}

#theme-button{
  margin-bottom: var(--mb-1);
}

#theme-button:hover{
  color: var(--first-color);
}

.nav__link{
  transition: 0.3s ease;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}


@keyframes spin{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(0deg);
  }
}
.show-menu{
  top: calc(var(--header-height) + 1rem);
}

.active-link{
  position: relative;
}

.bx-grid-alt:hover{
  color: var(--first-color);
}

.scroll-header{
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.scrolltop{
  position:fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(0, 0, 255,0.5);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility:hidden;
}
.scrolltop:hover{
  background-color:var(--first-color);
}

.scrolltop__icon{
  font-size: 1.5rem;
  color: var(--body-color);
}

.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

.home{
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(https://images.unsplash.com/photo-1514820720301-4c4790309f46?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1778&q=80);
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-size: cover;
}

.events{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(https://upload.wikimedia.org/wikipedia/commons/d/d0/Ashs-students-laughing.jpg);
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    background-size: cover;
}

.active-link{
  color: var(--first-color);
}

.home__container{
  row-gap: .5rem;
  margin-top: 10%;
  width: calc(100%-4rem);
  background-color: var(--container-color);
  opacity: 0.8;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 1px solid transparent;
  border-radius: 10px;
}

@keyframes upbounce{
  0%, 100%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(-20px);
  }
}

.home__img{
  margin-top: var(--mb-3);
  width: 400px;
  justify-self: center;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-left: var(--mb-2);
  opacity: 1;
  text-shadow: 0 0 5px var(--shadow-color),
  0 0 10px var(--shadow-color),
  0 0 20px var(--shadow-color),
  0 0 40px var(--shadow-color);
}

.home__description{
  margin-bottom: var(--mb-3);
  margin-left: var(--mb-2);
  opacity: 1;
}

.home__container .button{
  margin-left: var(--mb-2);
  margin-bottom: var(--mb-3);
  opacity: 1;
}

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: .5rem;
  font-weight: var(--font-semi-bold);
  transition: .3s ease;
}
.button:hover{
  background-color: var(--first-color-alt);
  padding: 0.5rem 1.5rem;
}

.button-link{
  background: none;
  padding: 0;
  color: var(--first-color);
}

.button-link:hover{
  background-color: var(--first-color-alt);
  color:#fff;
}

.info__data, .events__data, .quizzes__data
{
  text-align: center;
  background-color: var(--container-color);
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 1rem 1rem 2rem;
}

.events__data{
  text-align: initial !important;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem !important;
}

.info__description{
  margin-bottom: var(--mb-3);
}

.info__img{
  max-width: 600px;
  justify-self: center;
}

.special__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.special__data{
  text-align: center;
  padding: 1rem 1rem 2rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65,11,16,0.15);
  border-radius: 1rem;
  margin-bottom: var(--mb-2);
}

.special__description{
  margin-bottom: var(--mb-2);
}

.special__data:hover{
  box-shadow: 0 3px 12px rgba(65,11,16,.15);
}

.special img{
  width: 200px;
}

.special__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
}

.information__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.information__data{
  text-align: initial;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65,11,16,0.15);
  border-radius: 1rem;
  margin-bottom: var(--mb-2);
}

.information__description{
  margin-bottom: var(--mb-2);
  padding-left: 3rem;
  padding-right: 3rem;
}

.information__data:hover{
  box-shadow: 0 3px 12px rgba(65,11,16,.15);
}

.information__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
}

.footer__content{
  font-size: var(--small-font-size);
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  margin-right: var(--mb-2);
  margin-left: var(--mb-2);
  text-align: center;
}

.footer__logo{
  color:var(--title-color);
}

.footer__title{
  margin-bottom:var(--mb-2);
}

.footer__link{
  display:inline-block;
  margin-bottom: .75rem;
  color:var(--text-color);
}

.footer__link:hover{
  color:var(--first-color);
}

.footer__container{
  border-top: 2px solid var(--container-color);
  margin-right: 0;
  margin-left: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.special__container{
  grid-template-columns: repeat(1,1fr);
}

.events__container{
  margin-left: 2rem;
  margin-right: 2rem;
}

.quizzes__heading{
  font-size: var(--biggest-font-size);
  color: var(--title-color);
  margin-left: auto;
  margin-bottom: var(--mb-3);
}

.quizzes__subheading{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-left: auto;
  margin-bottom: var(--mb-3);
}


.quizzes__data{
  margin: auto;
  width: 80%;
}

.quizzes__description{
  font-size: var(--h3-font-sie)
}

@media screen and (max-width: 359px){
  .home__img, .info__img, .special__img{
    width:100%;
  }

}
@media screen and (min-width: 576px){

  .info__container, .events__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .quizzes__container{
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    margin: 2rem;
  }

  .special__container{
    grid-template-columns: repeat(1,1fr);
  }

  .special__container h3{
    text-align: center;
  }


  .information__button{
    margin-left: 3rem;
  }

  .home__container{
    padding: 5rem 0 0;
  }

  .home__img{
    order:1;
  }

  .section-title-center{
    text-align: center;
  }

  .info__data{
    text-align: initial;
  }

  .quizzes__data{
    text-align: center;
  }

.info h2{
  text-align: initial;
}
  .info__img{
    order: -1;
  }

  .__img, .info-img, .special__img{
    width: 100%;
  }
}

.container{
  position: relative;
  margin: auto;
  width: 75%;
  padding: 2em;
  background-color: var(--container-color);
  border-radius: 2rem;
  font-family: 'Noto Sans';
}

.container .form h2{
  color: var(--title-color);
}

.container .form input{
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.6rem;
  margin-bottom: var(--mb-2);
}

.container .form input[type="radio"]{
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.6rem;
  margin-bottom: var(--mb-2);
}

.form label{
  font-size: var(--h3-font-size);
  margin-top: 2rem;
}

.form::placeholder{
  font-family: 'Noto Sans';
  font-size: var(--h3-font-size);
}

.container .form .inputfield .input,
.container .form .inputfield .textarea{
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: var(--normal-font-size);
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  font-family: 'Noto Sans'
}

.form button{
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    padding: 0.65rem 1rem;
    border-radius: 0.5rem;;
    border: 1px solid transparent;
}

.form .radio{
  font-size: var(--small-font-size);
}

input[type=radio] {
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  background-color: #755bea;
}

.form input:checked ~ .checkmark{
  background-color: #755bea;
}

.form .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.form input:checked ~ .checkmark:after {
  display: block;
}


@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .home__container{
    width: 50%;
  }

  .home{
    height: 100vh;
  }

  .section{
    padding-top: 7rem;
  }

  .nav{
    height: calc(var(--header-height)+1.5rem)
  }

  .nav__list{
    display: flex;
    align-items:center;
  }

  .nav__item{
    margin-left: var(--mb-2);
    margin-top: var(--mb-2);
  }

  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-1);
    cursor: pointer;
  }

  .home__container{
    padding: 2rem 2rem 0;
    margin-top: 37.5vh;
    animation: upbounce 6s ease-in-out infinite;
  }

  .down-arrow a i{
    position: absolute;
    left: 50%;
    top: 80%;
    font-weight: 800;
    margin-top: var(--mb-5);
    color: var(--first-color);
    opacity: 0.8;
    size: 20rem;
    padding: 1rem;
    border: 2px solid var(--first-color);
    border-radius: 50%;
    background-color: transparent;
    animation: upbounce 4s ease-in-out infinite;
  }


  .info__data{
    padding: 2rem 2rem;
    padding: bottom: 1rem;
  }

  .quizzes__data{
    padding: 2rem 2rem;
    padding-bottom: 1rem;
  }

  .special__container{
    display: grid;
    align-items:center;
      grid-template-columns: repeat(3,1fr);
      margin-right: 0;
      margin-left: 0;
  }

  .information__container{
    display: grid;
    align-items:center;
      grid-template-columns: repeat(2,1fr);
      margin-right: 0;
      margin-left: 0;
  }
}
